/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}

.header p {
  font-size: 18px;
  margin: 0;
}

/* Body styles */
html, body, #root {
  height: 100%;
}

.body {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.body-content {
  flex-grow: 1;
}

.body h1 {
  font-size: 24px;
  margin: 0;
}

.body p {
  font-size: 16px;
  margin: 0;
}
/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer h1 {
  font-size: 36px;
  margin: 0;
}

.footer p {
  font-size: 18px;
  margin: 0;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
}

.body-left {
  width: 30%;
  margin-right: 2%;
}

.body-right {
  width: 68%;
}

.navigation-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
  font-size: 2em;
}

.navigation-item {
  margin-right: 1rem;
}

.navigation-item, ui, li, a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
